.grid-card-purple {
     --sd-color-card-header: #4b2e83;
}

.grid-card-metallic-gold {
    --sd-color-card-header: #85754d;
}

.grid-card-escience {
     --sd-color-card-header: #2c7fb8;
}

.grid-card-client {
     --sd-color-card-header: #edf8b1;
}

.grid-card-both {
     --sd-color-card-header: #7fcdbb;
}

.bg-jb-one {
    background-color: #4b2e83;
}

.bg-client {
    background-color: #edf8b1;
}

.bg-both {
    background-color: #7fcdbb;
}
.bg-uw {
    background-color: #2c7fb8;
}