name: Deploy

on:
  push:
    paths:
      - 'docs/**'
      - '.github/workflows/deploy.yaml'
      - 'environment.yml'
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v3

    - uses: ./.github/actions/setupconda

    - name: Build book
      run: |
        jupyter-book build docs/

    - name: Publish to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.GH_PAT }}
        publish_dir: docs/_build/html
        publish_branch: gh-pages
        cname: guidebook.hackweek.io
