name: Test

on:
  pull_request:
    paths:
      - 'docs/**'
      - '.github/workflows/test.yaml'
      - 'environment.yml'
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-20.04
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2

    - uses: ./.github/actions/setupconda

    # NOTE: this isn't a comprehensive spellcheck, just common typos
    - name: Spellcheck
      uses: codespell-project/actions-codespell@master
      with:
        check_filenames: true
        check_hidden: true

    - name: Build JupyterBook
      run: |
        jupyter-book build docs/

    - name: Check External Links
      run: |
        jupyter-book build docs/ --builder linkcheck
